{% extends 'QandaHelloBundle::layout.html.twig' %}

{% block body %}
<h1>Product list</h1>

<ul>
{% for product in products %}
    <li>
        {% if product.category %}
            {{ product.category.name }}
        {% else %}
            &lt;no category&gt;
        {% endif %}
        :
        <a href="{{ path("product_show", {"id": product.id}) }}">
            {{ product.name }}
        </a>
        -
        <a href="{{ path("product_delete", {"id": product.id}) }}">
            X
        </a>
    </li>
{% endfor %}
</ul>

{% endblock %}
