{% extends 'QandaHelloBundle::layout.html.twig' %}

{% block body %}
<h1>Show product</h1>

<label>Name:</label>
{{ product.name }}<br/>

<label>Price:</label>
{{ product.price }}<br/>

<label>Description:</label>
{{ product.description }}<br/>

{% endblock %}
